<h1>New States</h1>
<%= form_with scope: :state, url: states_path, local: true do |form| %>
 

 
  <p>
    <%= form.label :state_id %><br>
    <%= form.select :state_id, State.all.collect {|p| [ p.name, p.id ] } %>
  </p>

 
  <p>
    <%= form.submit %>
  </p>
 
<%end%>